.signup-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: cross;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group i {
  position: absolute;
  top: 35px;
  left: 10px;
  color: #757575;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 40px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.signup-button {
  padding: 12px;
  background-color: #26215e; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: progress;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0ab7ce; 
}



.formField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #14437c;
  border-radius: 4px;
  font-size: 16px;
}



