@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d0d4e3ae;
    box-shadow: 0 4px 8px rgba(211, 73, 73, 0.2);
    border-radius: 10px;
    font-family: 'Lato', sans-serif; 
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #4a148c;
    font-size: 1rem;
    font-weight: 700;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #10102ae1;
    border-radius: 4px;
    background-color: #faf5ff;
    font-size: 1rem;
}

.login-button {
    background-color: #030004;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: progress;
    font-size: 1rem;
    font-weight: 900; 
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0ab7ce;
}
